*{
    margin: 0;
    padding: 0;
}
i{
    margin: 20px 0;
}
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.315),rgba(0, 0, 0, 0.315)), url(bg1.jpg);
    background-position: center;
    background-size: cover;
    height: 85vh;
    color: white;
}
.head{
    display: flex;
}
.head h3{
    width: 40%;
    margin-left: 10%;
    font-family: "Open Sans", sans-serif;
    color: #00c6d7;
    font-size: 25px;
    font-weight: bolder;
    margin-top: 20px;

}
.menu ul{
    display: flex;
    list-style-type: none;
    gap: 30px;
    margin-top: 30px;
    font-family: "Open Sans", sans-serif;
}
.menu1{
    color: #00c6d7;
}

.head-2{
    text-align: center;
    margin-top: 10%;
    line-height: 50px;
    font-family: "Open Sans", sans-serif;
}
.head-2 h5{
    font-size: 16px;
}
.head-2 h1{
    font-size: 40px;
    
}
.Line{
    border-top: solid 0.5pt;
    width: 265px;
    margin-left: 39%;
    margin-top: 10px;
   
}
.btn-1{
    padding: 15px 40px;
    border: solid 4px  #00c6d7;
    background-color:  #00c6d7;
    margin-right: 10px;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    margin-top: 30px;
}
.btn-2{
    padding: 15px 40px;
    border: solid 4px white;
    background-color: transparent;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    margin-top: 50px;
}
.title{
    text-align: center;
    margin-top: 45px;
    font-family: "Open Sans", sans-serif;
    
}
.title h2{
    color: #00c6d7;
    font-size: 60px;
}

.title1{
    text-align: center;
    margin-top: 45px;
    font-family: "Open Sans", sans-serif;
    
}

.title1 h3{
    font-size: 25px;
    color: white;
}
.title1 h2{
    color: white;
    font-size: 60px;
}


.Line-1{
    border-top: solid 0.5px rgb(167, 165, 165);
    width: 150px;
    margin-left: 44%;
    margin-top: 10px;
   
}
.Line-2{
    border-top: solid 0.5px white;
    width: 150px;
    margin-left: 44%;
    margin-top: 10px;
}
.Line1{
    border-top: solid 0.5px rgb(204, 203, 203);
    width: 150px;
    margin-left: 32%;
    margin-top: 10px;
    margin-bottom: 10px;
   
}
.Line-3{
    border-top: solid 0.5px rgb(204, 203, 203);
    width: 95%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.main1-content{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    text-align: center;
    margin-top: 60px;
    font-family: "Open Sans", sans-serif;
}
.layout1{
    line-height: 28px;
}
.layout1 i{
    margin-top: 50px;
}
.layout1 p{
    color: rgb(78, 77, 77);
    font-size: 15px;
}
.main2{
    background-color: rgb(41, 40, 40);
}
.main2 h2{
    padding-top: 60px;
}
.main2-content{
    display: flex;
    margin-top: 60px;
    color: white;
    font-family: "Open Sans", sans-serif;
}
.main2-content img{
    width: 490px;
    margin-left: 21%;
    margin-bottom: 90px;
}
.main2-content1{
    margin-left: 120px;
   
}
.main2-content1 h3{
    font-size: 25px;
    margin: 10px 0;
}
.main2-content1 h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.main2-menu ul{
    display: flex;
    list-style-type: none;
    gap: 30px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.menu-content{
    font-size: 14px;
    line-height: 25px;
}
.main3-head ul{
    display: flex;
    list-style-type: none;
    gap: 30px;
    justify-content: center;
    font-weight: bolder;
    color: gray;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    margin-top: 70px;
    margin-bottom: 30px;
}
.main3-content{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto; 
    gap: 15px;
    justify-content: center;
}
.main3-content img{
    width: 390px;
}
.main4-content{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
}
.box{
    border: solid 1px black;
    padding: 70px;
    margin-left: 25px;
    line-height: 40px;
    box-shadow: 1px 1px 5px 5px rgb(231, 231, 231);
    border: none;
    font-family: "Open Sans", sans-serif;
}
.box i{
    box-shadow: 1px 1px 2px 3px rgb(243, 242, 242);
    padding: 35px;
    border-radius: 50%;
}
.btn1{
    padding: 20px 45px;
    margin: 20px 0;
    border: none;
    background-color: #00c6d7;
    font-weight: bolder;
    color: white;
    
}
.btn3{
    padding: 20px 45px;
    margin: 20px 0;
    border: none;
    background-color:#009988;
    font-weight: bolder;
    color: white;
}
.btn2{
    padding: 20px 45px;
    margin: 20px 0;
    border: none;
    background-color: #ffa400;
    font-weight: bolder;
    color: white;
}
.main5-head{
    display: flex;
    gap: 20px;
    flex: 1;
}

.main5{
    background-image:linear-gradient(rgba(0, 0, 0, 0.589),rgba(0, 0, 0, 0.575)),  url(contact.jpg);
    background-position: center;
    background-size: cover;
}
.main5-content{
    margin-top: 70px;
    font-family: "Open Sans", sans-serif;
    color: white;
    margin-left: 10%;
}
.main5-content p{
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 20px;
}
.main5-content h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.main5-side1{
    display: flex;
    gap: 10px;
}
.main5-side2{
    display: flex;
    gap: 10px;
}
.main5-side{
    display: flex;
    gap: 10px;
}
.main5 h2{
    padding-top: 60px;
}
.main5-side h4{
    margin-top: 20px;
}
.main5-content2{
    margin-top: 115px;
    font-family: "Open Sans", sans-serif;
    
}
.btns{
    padding-right: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 50px;
    margin-right: 15px;
    margin-bottom: 15px;
    border: solid white;
    color: grey;
    background-color: white;
    font-family: "Open Sans", sans-serif;
}
.message{
    padding-right: 200px;
    padding-bottom: 30%;
    border: solid 1px white;
    background-color: white;
    color: grey;
    font-family: "Open Sans", sans-serif;
}
.btns1{
    padding: 10px 50px;
    margin-left: 59%;
    margin-top: 15px;
    border: solid 1px #00c6d7;
    background-color: #00c6d7;
    color:white;
    margin-bottom: 20%;
}
.fa-twitter,
.fa-github,
.fa-linkedin,
.fa-behance,
.fa-facebook {
    color: gray;
    padding: 8px;
    box-shadow: 1px 1px 3px 3px rgb(231, 231, 231);
    padding: 5px 10px;
    margin-top: 45px;
    margin-right: 10px;
    margin-bottom: 40px;
} 
footer{
    text-align: center;
    margin-top: 50px;
    font-family: "Open Sans", sans-serif;
   font-size: 15px;
}


@media(max-width: 768px){
    header{ 
        height: 80vh;
    }
    .head h3{
        width: 70%;
        font-size: 20px;  
        margin-top: 40px; 
    }
    .menu ul{
        display: block;
        font-size: 10px;
        line-height: 18px;
    }
    .Line{
        border-top: solid 0.5pt;
        width: 100px;
        margin-left: 39%;
        margin-top: 10px;
       
    }
    
    .Line-2{
        border: none;
        
    }
    .Line-1{
        border: none;
    }
    .head-2{
        line-height: 25px;
        margin-top: 120px;
       
    }
    .head-2 h5{
        font-size: 15px;
    }
    .head-2 h1{
        font-size: 20px; 
        
    }
    .btn-1{
        padding: 15px 20px;
        margin-top: 20px;
    }
    .btn-2{
        padding: 15px 20px;
   
        margin-top: 20px;
    }
    .main1-content{
        display:block;
    }
    .main2-content{
        display: block;
       
    }
    .main2-content img{
        width: 89%;
        margin-left: 5%;
        margin-bottom: 20px;
    }
    
    .main2-content1{
        margin-left: 20px;
       
    }
    .main2-content1 h3{
        font-size: 25px;
        margin: 10px 0;
    }
    .main2-content1 h4{
        font-size: 20px;
        
    }
    .main2-menu ul{
        font-size: 15px;
        
    }
    .menu-content{
        font-size: 8px;
        line-height: 20px;
        padding-bottom: 50px;
    }
    .main3-content{
        display:block;
      
    }
    .main3-head ul{
        display: flex;
        margin-left: 30px;
        font-size: 14px;    
        margin-top: 30px;
        gap: 20px;
    }
    .main3-content img{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;

    }
    .main4-content{
        display: block;
    }
    .box{
        padding: 20px;
        margin-left: 5%;
        margin-right: 5%;
        
    }
    .main2-menu ul{
        display: block;
        
    }
    .main5-head{
        display: block;
    }
    .main5-side{
        display: block;
       
    }
    .btns{
        padding-right: 87%;
        padding-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
      
    }
    .message{
        padding-right: 10px;
        padding-bottom: 40px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .btns1{
        padding: 10px 50px;
        margin-left: 10px;
        margin-top: 15px;
        margin-bottom: 20%;
    }
   
}